<div class="hero"><h1><a href="/">Cosmic JS Angular Starter</a></h1></div>
<div class="main">
<router-outlet></router-outlet>

<ul>
    <li><a [routerLink]="['/']">Home</a></li>
    <li><a [routerLink]="['/about']">About</a></li>
    <li><a [routerLink]="['/contact']">Contact</a></li>
    <li><a [routerLink]="['/not-found']">Not found</a></li>
</ul>
</div>
<div class="footer">
		&copy; <a href="https://cosmicjs.com">Cosmic JS</a> Angular Starter. <a href="https://github.com/cosmicjs/angular-starter" target="_blank">View the code</a>.
</div>
